@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  height: 0;
  width: 0.4vw;
}::-webkit-scrollbar-thumb{
  background: #676cdb;
  border-radius: 1000px;
}::-webkit-scrollbar-track{
  background: transparent;
}
 
html {
  scroll-behavior: smooth;
}

body{
  background-color: #222A36;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: clamp(48px, 9vw, 96px);
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 24px);
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 2vw, 24px);
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: clamp(13.5px, 2vw, 18px);
}

h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: clamp(10px, 1.5vw, 14px);
}

.purple-element {
  color: #676cdb;
}