@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: #454545;
}
